body
{
    background: url("../images/fondo3.jpg") fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
     -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.modal-header {
  padding: 0;
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #D0F5A9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header .close {
  padding: 10px 15px;
}
.modal-header ul {
  border: none;
}
.modal-header ul li {
  margin: 0;
}
.modal-header ul li a {
  border: none;
  border-radius: 0;
}
.modal-header ul li.active a {
  color: #e12f27;
}
.modal-header ul li a:hover {
  border: none;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}
.activos {
  width:60px;
}
.button {
  display: inline-block;
  background: #82FA58;
  color: #190707;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}
 #inferior{

position:absolute; /*El div será ubicado con relación a la pantalla*/
 /*A la derecha deje un espacio de 0px*/
right:20px; /*A la izquierda deje un espacio de 0px*/
bottom:30px; /*Abajo deje un espacio de 0px*/

z-index:0;
 }
.dataTables_info{
 color :#FFFFFF;
}
.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
}