html, body {
      height:100%;
    }
    .form-control{
      background:transparent;
      border-top:2px inset gray;
      border-left:2px inset gray;
      color:white;
    }
  
    body{
        background:url(../images/aaaa.jpg);
       background-size: cover;
    padding: 0;
    margin: 0;
     -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
       
    }
    .main{
      background:transparent;
      border-top-left-radius:5px; 
      border-top-right-radius:30px; 
      border-bottom-right-radius:10px;
      border-bottom-left-radius:30px;
      padding:10px;
      border:1px solid gray;
      box-shadow:2px 2px 10px gray;
      color:white !important;
    }.btn{
      border-radius:0px !important;
      background:transparent !important;
    }
    .save{
      margin-right:10px;
    }
    .btn:hover{
       background:#fff !important; 
    }
    .control-label{
        text-align:left !important;
    }
    .cont{ 
          min-height:100%;
          min-width:100%;
          display:flex;
          align-items:center;
        }
.select-style2 {
 
 border:1px solid #777;
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    background: #FFF url("../00_common/menu/menu_arrow_down_active.png") no-repeat 95% 50%;
  float:left;

}

.select-style2 select {  
 
font-size:15px;
color:#777;
    padding: 5px 8px 0px 5px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    
}

.select-style2{
}

.select-style2 select:focus {
    outline: none;  
}

.select-style2 select option {
  padding:3px;

}

#btn {
  border: 1px solid #333;
  background: #333;
  color: white;
  font-size:14px;
  font-weight:700;
  font-style:italic;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-appearance: none;
  margin-left:15px;
}