body
{
    background: url("../images/fondo3.jpg") fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.modal-header {
  padding: 0;
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #D0F5A9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header .close {
  padding: 10px 15px;
}
.modal-header ul {
  border: none;
}
.modal-header ul li {
  margin: 0;
}
.modal-header ul li a {
  border: none;
  border-radius: 0;
}
.modal-header ul li.active a {
  color: #e12f27;
}
.modal-header ul li a:hover {
  border: none;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}
.activos {
  width:60px;
}

